{% extends "page.jinja2" %}

{% block content %}
  <main id="about-text">
    <div class="layout">
      <div>
        <div class="content">
          <h2>{{ _('Les grandes aventures commencent toujours par un premier pas...') }}</h2>
          <p>{{ _('Un jour, Jérémie Zimmermann est passé par moi, pendant ses vacances, en pleine affaire PRISM.') }}</p>
          <p>{{ _('Nous avons parlé, ce jour là, d''un ancien projet de service de courrier électronique') }}</p>
          <p>{{ _('Depuis ce jour, avec une équipe réunie grâce au soutien sans faille de Gandi et de la Quadrature du Net, nous avons travaillé dur.') }}</p>
        </div>
      </div>
  </main>
{% endblock %}

{% block content2 %}
  <main id="about-objectives">
    <div class="layout">
      <div>
        <div class="content">
          <h2>{{ _('Notre objectif premier : redonner la possibilité au plus grand nombre de protéger sa vie privée en ligne.') }}</h2>
        </div>
      </div>

      <ul>
        <ol>
          <p>1</p>
          <p>{{ _('La centralisation des outils de correspondance privée est allée trop loin, et met en danger les données privées des utilisateurs. Il faut un outil décentralisé.') }}</p>
        </ol>
        <ol>
          <p>2</p>
          <p>{{ _('Les moyens de garantir sa vie privée en ligne existent, mais leur usage reste trop complexe pour la plupart des utilisateurs. Il faut les simplifier.') }}</p>
        </ol>
      </ul>
  </main>
{% endblock %}

{% block content3 %}
  <main id="about-items">
    <div class="layout">
      <div>
        <div class="content">
          <ul>
            <li id="open">
              <h3>{{ _('Title 1') }}</h3>
              <p>{{ _('Nous devons créer un logiciel libre, que n''importe quel administrateur système puisse installer aussi facilement qu''un CMS.') }}</p>
              <p><strong>{{ _('Nous devons créer plus qu''un outil : un écosystème.') }}</strong></p>
            </li>
            <li id="certificate">
              <h3>{{ _('Title 2') }}</h3>
              <p>{{ _('Nous avons imaginé une association, qui donnera un label aux services qui le demanderont.') }}</p>
            </li>
            <li id="level">
              <h3>{{ _('Title 3') }}</h3>
              <p>{{ _('Notre interface utilisateur affiche à chaque instant le niveau de confidentialité des échanges affichés') }}</p>
              <p>{{ _('En connaissant le niveau global de confidentialité de ses contacts, un utilisateur peut décider d''accorder plus de confiance à tel ou untel') }}</p>
            </li>
            <li id="interactive">
              <h3>{{ _('Title 4') }}</h3>
              <p>{{ _('Ainsi, par le jeu des interactions sociales, nous croyons possible de créer une motivation suffisamment forte pour que les utilisateurs de notre solution') }}</p>
              <p>{{ _('Et la longue histoire du logiciel libre nous l''a appris à la dure : il ne suffit pas de proposer un outil équivalent à ce qui existe déjà.') }}</p>
            </li>
            <li id="new">
              <h3>{{ _('Title 5') }}</h3>
              <p>{{ _('Nous avons la chance, à la différence des opérateurs déjà présents, de partir d''une feuille blanche.') }}</p>
            </li>
          </ul>
        </div>
      </div>
  </main>
{% endblock %}
