{% extends "page.jinja2" %}

{% block content %}
<script type="text/javascript">/*<![CDATA[*/var ajaxOn=1,d=document.cookie;if(d&&d.search("ajaxOff")>=0){ajaxOn=0}document.documentElement.className="hasJS"+((ajaxOn)?" ajaxOn":"");/*]]>*/</script>
<style type="text/css">
    .faq dt {margin:2em 0 0.5em 0; font-weight:bold; background:none;}
    .faq dd {margin-top:0.5em; margin-bottom:1em;}

    .hasJS .faq dd {position:absolute; top:0; left:-200em; width:58em}
    .hasJS .faq dd.on {position:static; left:0; width:auto}

    .faq dt a,
    .faq dt a:visited {display:block; color:#5a5a5a; text-decoration:none; border:0 solid;}
    .faq dt a:hover,
    .faq dt a:focus,
    .faq dt a:active {color:#000;}

    .faq dt i,
    .faq dt b {
      margin-right:1em; float:left; width: 16px; height: 17px; overflow:hidden; background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAiBAMAAACkb0T0AAAAMFBMVEX///+kpKT4+Ph7e3vMzMyUlJTu7u68vLyEhIRzc3Pf39+NjY2ZmZnExMTU1NTq6uqVHy7CAAAAAXRSTlMAQObYZgAAAJRJREFUeF49kLENQjEQQ60I8RFSdohgikxCwQSMkA7RUaFfIOEtaCgoKRmBDViBjrvL/3b15OQS+yAtX6XDiieDVLDlzazvEQualeoIfMxK9QpksxzCQsBA7s4OaCQDcp0A74D1/vEMOJAM+AWMPu26ANi4ikBHuqxxPagvHDI7KIaCtSnqMIdvvY4KzpXvWoLWIv0BoKJU4+j6VIYAAAAASUVORK5CYII=);
      *background-image:url(arrows.grey.png);
    }
    .faq .on i {background-position:bottom;}
    .faq dt b {background:none;}


    /* Let's try some of that fancy CSS3 then */
    .hasJS .faq dd {
      opacity:0;
      -moz-transition: opacity 0.3s ease-in;
      -o-transition: opacity 0.3s ease-in;
      -webkit-transition: opacity 0.3s ease-in;
      transition: opacity 0.3s ease-in;
    }
    .hasJS .faq dd.on {
      opacity: 1;
    }
</style>
  <main id="faq-text">
    <div class="layout">
      <div>
        <div class="content">
          <dl class="faq">
   <dt>Q. C'est quoi Caliopen ? Un service ? Une application à installer ?</dt>
   <dd>Caliopen est une suite logicielle permettant le déploiement simplifié d'une solution de messagerie sécurisée.<p>
Par principe, Caliopen n'est pas directement destiné à une utilisation domestique (autohébergement, installation locale) mais plutôt orienté vers des installations permettant la gestion de centaines de milliers de compte utilisateurs.<p>
Les technologies choisies ne sont pas adaptées à un usage local (même s'il est toujours possible de l'envisager), parce qu'une infrastructure de messagerie s'applique plus facilement à un grand nombre d'utilisateurs (économies d'échelle, gestion de l'antispam et des filtres systèmes...). En outre, le public principalement visé n'est pas techniquement formé à ce type d'usage.<p>
En conséquence, nous espérons que de nombreuses structures utiliseront Caliopen pour proposer des services de messagerie sécurisée ouverts au plus grand nombre.</dd>
   <dt>Q. Où puis-je tester Caliopen?</dt>
   <dd>À ce stade, le projet n'est pas assez avancé pour être ouvert en phase de test. Nous lancerons des invitations dès qu'il sera possible d'essayer nos outils.</dd>
  <dt>Q. Combien ça va me coûter?</dt>
  <dd>Caliopen n'est pas un service centralisé mais un ensemble de logiciels libres qui seront utilisés, nous l'espérons, par de nombreux acteurs. Il est probable que certains ouvriront des services payants basés sur Caliopen, mais votre entreprise, votre association, pourquoi pas votre fournisseur d'accès, pourront eux aussi proposer Caliopen selon d'autres modèles économiques.<p>
Le seul modèle économique prohibé par la charte est celui basé sur l'utilisation des données personnelles des utilisateurs.
  </dd>
  <dt>Q. À quoi ça sert, je n'ai rien à cacher?</dt>
  <dd>Même si vous n'avez rien à cacher (ce qui est probablement faux), vos correspondants, eux, n'ont peut-être pas les mêmes impératifs, ni la même façon d'aborder la protection de leur vie privée. En vous protégeant, vous protégez non seulement votre vie privée mais aussi celle de tous ceux qui échangent avec vous.
  </dd>
  <dt>Q. Caliopen, c'est quoi ce truc, je dois encore me créer un compte quelque part ?</dt>
  <dd>C'est justement parce que vous vous êtes créé des comptes un peu partout, et que votre correspondance privée est éparpillée façon puzzle sur des plate-formes multiples, que Caliopen peut vous être utile: en déclarant tous vos autres comptes dans votre interface, vous recevrez tous vos messages au même endroit.</dd>
  <dt>Q. J'aurai une adresse mail en @caliopen.org ?</dt>
  <dd>Non: c'est même sans doute le seul domaine dans lequel vous n'aurez aucune chance d'avoir une adresse mail. Le domaine "caliopen.org" restera la propriété du projet, même (et surtout) quand des services basés sur Caliopen ouvriront.<p>
Vous aurez le choix d'utiliser tel ou tel service basé sur Caliopen, et le nom de domaine proposé pourra être un des éléments de votre choix.
  </dd>
  <dt>Q. Pourrais-je utiliser Caliopen avec mon compte mail actuel (gmail, outlook etc ...) ?</dt>
  <dd>Non, sauf si vous êtes assez patient pour attendre que Microsoft et Google décident d'utiliser Caliopen.</dd>
  <dt>Q. Quelles types de communication sont possibles avec CaliOpen ?</dt>
  <dd>L'interface de Caliopen est conçue pour afficher n'importe quel type de correspondance privée. Mais même si, pour le moment, le projet n'envisage que les communications les plus courantes (email, chat, message privés Twitter/Facebook/Linkedin et autres...), nous envisageons dès à présent de pouvoir intégrer à terme d'autres types de communications privées (SMS, Video, WebRTC...).</dd>
  <dt>Q. Comment utiliser Caliopen pour protéger ma famille / mes enfants ?</dt>
  <dd>Un des points mal compris en sécurité informatique, c'est qu'on ne se protège pas soi-même sans protéger les autres. On peut avoir pour soi-même le plus haut niveau de sécurité possible, chiffrer ses disques et son courrier, utiliser des mots de passe différents pour chaque site: tout ça ne sert à rien si ceux avec qui on communique ne sont pas protégés, eux aussi (il suffit alors de les écouter eux pour vous espionner vous).<p>
Vous protéger, protéger votre famille, ça ne sert pas à grand chose si tous vos correspondants utilisent des systèmes peu sécurisés. Vous pouvez utiliser Caliopen pour ça, bien sûr, mais ça ne sera vraiment utile que si, en voyant le faible niveau de confidentialité des messages échangés avec des tiers, vous devenez prescripteur à votre tour pour convaincre vos contacts d'utiliser, eux aussi, des systèmes sécurisés.</dd>

  <dt>Q. Je ne suis pas techos comment faire pour aider ?</dt>
  <dd>Même sans participer au développement, vous pouvez aider le projet à avancer en le faisant connaître autour de vous, en en parlant, en relisant et en corrigeant nos documents (ou en les traduisant dans d'autres langues)... Le simple fait de nous poser des questions nous aide à mieux expliquer notre vision et nos objectifs. N'hésitez pas à nous rejoindre sur les chat irc (http://webchat.freenode.net , channel "#caliopen").</dd>
  <dt>Q. Je suis techos, cette FAQ ne me concerne pas, où puis-je avoir des réponses à mes questions techniques ?</dt>
  <dd>Caliopen est sur Github (https://github.com/CaliOpen), mais vous pouvez aussi nous rejoindre sur IRC (@Freenode/#caliopen) ou par email (contact@caliopen.org).</dd>
  <dt>Q. Quel est le point de départ pour filer un coup de main (issue simple ou pas , nouvelle feature)?</dt>
  <dd>Nous sommes ouverts à toute proposition : n'hésitez pas à intervenir sur Github directement, ou à venir discuter avec nous sur IRC ou par email.</dd>
  <dt>Q. Est-ce qu'il y aura un client natif pour mobile (smartphone, tablette etc.)</dt>
  <dd>Nous nous focalisons pour le moment sur le développement de l'interface Web de Caliopen, mais nous prévoyons un client mobile dans le futur, oui. Les raisons d'être d'un tel client sont multiples: la possibilité d'ajouter les SMS de ses contacts à l'ensemble des conversations, le besoin d'accèder à certains messages depuis un environnement mobile... Il faut cependant bien garder à l'esprit que le niveau de confidentialité sera moindre avec un client mobile qu'avec l'interface Web, avec tout ce que ça implique en terme d'usage de Caliopen.</dd>
  <dt>Q. Puis-je payer une entreprise pour m'installer Caliopen et le gérer pour moi, après tout je paye bien chez [un nom d'hébergeur] pour mes mails.</dt>
  <dd>Il est probable que ce type de services fasse un jour partie du modèle économique d'un ou de plusieurs fournisseurs de Caliopen.</dd>
  <dt>Q. Est ce que je pourrais heberger Caliopen chez moi?</dt>
  <dd>Si vous disposez d'une infrastructure assez puissante pour ça, pourquoi pas ! Mais Caliopen n'est pas prévu pour un usage domestique.</dd>
  <dt>Q. Pourrai-je toujours communiquer avec mes amis qui n'utilisent pas Caliopen?</dt>
  <dd>Oui ! C'était même un des prérequis à l'origine du projet.<p>
Quand un service tiers communique avec Caliopen, il le fait avec des protocoles standards (SMTP, XMPP...) que Caliopen utilise aussi. Simplement - sauf si le service tiers est configuré au meilleur niveau de sécurité - les messages de vos amis ne seront pas affichés avec un très bon niveau de confidentialité dans l'interface de Caliopen.</dd>
  <dt>Q. Pourais-je  utiliser ou re-router d'autres adresses e-mail sur Caliopen, et  répondre à mes correspondants avec ces adresses (sur le principe de  l'ajout de comptes "send mail as" dans gmail ?)</dt>
  <dd>Tout le principe de Caliopen est de permettre de réunir toutes ses conversations privée dans une interface unique, donc oui bien sûr vous pourrez re-router votre ancienne adresse vers votre compte Caliopen (et, pourquoi pas, répondre en utilisant aussi votre ancienne adresse: nul doute que cette fonction soit rapidement ajoutée si elle est utile, c'est tout l'intérêt du logiciel libre). Toutefois, il faut bien avoir conscience que, dans cette situation, le niveau de confidentialité affiché sera très bas, Caliopen n'ayant aucun moyen de connaître les possibilités d'interception de vos échanges entre leur émetteur et le 1er relai.<p>
Pour augmenter votre niveau de confidentialité, il vaudra mieux donner votre adresse Caliopen à vos contacts.</dd>
  <dt>Q. L'usage de Caliopen est-il transparent pour mes correspondants ?</dt>
  <dd>Techniquement, oui: Caliopen utilise les protocoles standards (simplement en utilisant les meilleures fonctions de sécurité si le système avec lequel il dialogue en est capable). Socialement, sans doute pas: lorsque vous recevez un message venant d'un système peu, ou mal sécurisé, Caliopen vous en informe en affichant un très faible niveau de confidentialité (et en attribuant un niveau d'importance moindre aux messages les moins confidentiels).<p>
Il est donc très possible que vous souhaitiez rapidement convaincre vos correspondants les plus importants de changer de fournisseur, pourquoi pas pour passer à Caliopen ?</dd>
  <dt>Q. Peux-tu expliquer la notion de niveau de confidentialité?</dt>
  <dd>Dans Caliopen, chaque élément possède son propre "niveau de confidentialité" qui informe l'utilisateur du degré de sécurité associé à tel ou tel contact, tel ou tel message ou conversation...<p>
Chaque terminal déclaré par l'utilisateur est, par exemple, noté entre autres en fonction de son usage (strictement personnel, familial, libre d'accès dans l'entreprise...), de son type (par nature, un téléphone portable est moins sécurisé qu'un PC de bureau, simplement parce qu'on peut le perdre plus facilement). Un terminal non déclaré (1ère utilisation) reçoit une note de zéro.<p>
Les messages entrants sont notés selon qu'ils sont ou non chiffrés, et aussi en fonction du type de clé utilisée pour le chiffrer le cas échéant. Le type de transport (sécurisé ou non) joue aussi sur la note, de même que le niveau de confidentialité associé au contact, s'il est connu. L'algorithme utilisé pour noter une conversation est plus complexe, mais tient aussi compte des éléments déjà décrits.<p>
Le niveau de confidentialité d'un contact de l'utilisateur est égal au niveau global du compte de ce contact: ce niveau global de confidentialité associé à un compte est le seul élément public d'un compte Caliopen.<p>
Enfin, chaque instance de Caliopen devrait aussi à terme se voir associée à un niveau de confidentialité, dépendant des lois locales (un Caliopen hébergé dans un pays soumis au Patriot Act aura une note plus basse qu'un autre, hébergé dans un cadre légal plus respectueux de la vie privée), des choix de configuration, etc.<p>
Cette notion est fondamentale, dans Caliopen: ce n'est qu'en connaissant à tout instant le niveau de confidentialité d'un élément que l'utilisateur est poussé à l'améliorer - à condition d'en avoir la possibilité - ou a faire des choix motivés (lire un message confidentiel sur un terminal très peu sécurisé est - par exemple - une très mauvaise idée qui fera perdre des points à son auteur).</dd>
  <dt>Q. De quelle manière est pris en compte le facteur humain dans l'utilisation de CaliOpen ? (contexte d'utilisation d'un device)</dt>
  <dd>De toute évidence, Caliopen n'a aucun moyen d'évaluer seul le niveau de confidentialité d'un terminal donné, en dehors de rares éléments concrets (la configuration SSL du navigateur, par exemple). Lorsque l'utilisateur se connecte pour la première fois sur son compte avec un terminal qu'il n'a encore jamais utilisé, le niveau de confidentialité associé est nul.<p>
L'utilisateur a alors la possibilité d'associer ce terminal à son compte, de décrire son utilisation (nomade ou fixe, personnel ou familial, mis à jour régulièrement ou non...). C'est en fonction de ces éléments que Caliopen va donner une note de confidentialité au terminal et - par exemple - autoriser (ou non) la lecture des messages les plus confidentiels (l'utilisateur ayant toujours la possibilité de passer outre à l'interdiction, au risque de perdre des points de confidentialité sur son compte).<p>
Dans tous les cas, donc, l'utilisateur est le seul maître de ses déclarations: c'est en définitive sur lui et lui seul que repose la qualité des évaluations fournies par Caliopen.</dd>
  <dt>Q. Pourquoi une association?</dt>
  <dd>Le fait de proposer une solution de sécurité qui repose sur un tiers (l'autohébergement n'étant pas adapté à une infrastructure de messagerie, ce seront souvent des tiers qui proposeront un service Caliopen) implique que la confiance de l'utilisateur dans son fournisseur de service ne soit pas donnée aveuglément.
Le simple fait d'utiliser Caliopen n'est en rien suffisant: comme tout logiciel libre, Caliopen est modifiable à volonté par celui qui l'installe, et rien ne dit qu'il ne sera pas utilisé par des organisations pour lesquelles la vie privée n'a qu'une valeur marchande, par exemple.<p>
Pour répondre à cette problématique, nous avons imaginé un "label Caliopen", qui ne pourra être décerné que par une organisation désintéressée, bénévole, et ayant à coeur l'intérêt des utilisateurs. Une association, donc (en droit français), qui - une fois le logiciel achevé en version finale - sera chargée de publier une "charte d'utilisation" que les utilisateurs volontaires de Caliopen s'engageront à respecter.<p>
En retour, ceux-ci recevront le label (qu'il pourront afficher) et un certificat cryptographique leur permettant se joindre au réseau privé virtuel réunissant tous les acteurs de l'écosystème Caliopen (et qui permettra, avec un degré de sécurité supérieur aux protocoles standards, d'échanger non seulement des messages entre utilisateurs des différents services Caliopen, mais aussi par exemple à l'utilisateur d'un Caliopen donné de connaître le niveau de confidentialité d'un contact utilisant un autre Caliopen). Ce label (et son certificat associé) étant révocable - avec toutes les fonctions associées - il constituera un engagement fort de la part de ceux qui choisiront d'adhérer.<p>
La charte de la future association précesera un certain nombre de choses: l'engagement à suivre les mises à jour de sécurité, à imaginer un modèle économique assez stable pour garantir la pérennité des données des utilisateurs (et à les reverser à un autre membre de l'association en cas de défaillance), à respecter la vie privée des utilisateur et à considérer que les données hébergées sont leur propriété pleine et entière, entre autres obligations.<p>
L'association aura enfin en charge la maintenance du projet (corriger les bugs, déployer des mises à jour de sécurité, faire évoluer le logiciel selon l'état de l'art de la sécurité informatique).</dd>
  <dt>Q. Qu'en est-il du traitement du courrier indésirable (SPAM) ?</dt>
  <dd>Comme tout système de messagerie, Caliopen intégre des outils de lutte antispam. Cependant, au lieu d'être binaire ("oui c'est du spam", "non ça n'en est pas"), les notres utilisent la même logique que celle du "niveau de confidentialité": le "niveau d'importance".<p>
Lorsque, par exemple, un message n'est ni signé, ni chiffré, qu'il vous arrive de quelqu'un qui ne fait partie ni de vos contacts ni des émetteurs en liste blanche (impôts, boutiques en ligne connues...), bref quand un message risquant de ne présenter aucun intérêt pour vous, le "niveau d'importance" qui lui sera attribué sera très bas. En revanche, un message chiffré, venant d'un contact auquel vous aurez vous-même attribué un haut niveau d'importance (votre famille, votre entreprise...) sera doté d'un très haut niveau d'importance.<p>
Un double-curseur, dans l'onglet principal de Caliopen, vous permet de définir vous-même à partir de quel niveau d'importance vous souhaitez que vos conversations s'affichent. Le spam, tout comme les autres messages indésirables, ne sont donc pas classés dans un répertoire à part: ils ne sont tout simplement affichés que si vous diminuez vous-même la valeur de ce curseur. Et à l'inverse (parce que vous êtes en vacances, ou que vous voulez que votre "droit à la déconnexion" soit respecté..), vous pouvez aussi choisir de n'afficher que les échanges d'un niveau d'importance inférieurs à un maximum que vous définissez, en temps-réel.<p>
Par principe, Caliopen n'utilisera pas de listes noires externes (Spamcop et autres RBL) qui envoient à des tiers des métadonnées dont chacun connait l'importance.</dd>
  <dt>Q. Comment est géré le chiffrement des emails sortant, la gestion de la clef privée et le trousseau de clef publique des destinataires ? </dt>
  <dd>L'utilisateur de Caliopen n'a pas forcément de clés, mais il est fortement incité à en créer, via son interface, pour accéder à un niveau de confidentialité correct. Sa clé privée est alors stockée sur son terminal: Caliopen n'en dispose pas.<p>
À la création d'un contact (ou lors de son importation depuis un outils tiers), Caliopen va essayer de trouver, via différents protocoles (enregistrement DNS ou SKS) les clés publiques associées à l'adresse email fournie, et proposer leur intégration au trousseau associé au compte utilisateur sur le serveur Caliopen. L'objectif, ici, est de faciliter au maximum la vie de l'utilisateur tout en permettant, par une gestion centralisée des trousseaux, de gérer au mieux la répudiation d'une clé par un contact.<p>
Lorsque l'utilisateur souhaite envoyer un message, après sa rédaction, Caliopen va proposer - par défaut - le protocole disponible le plus sûr possible en fonction du ou des contacts destinataires, en fonction de l'existence ou non de clés publiques associées, du niveau de sécurité du protocole et de la configuration du serveur distant, et de la disponibilité immédiate ou non 
du destinataire. Si - par exemple - le destinataire du message est en ligne, connecté à un serveur XMPP/TLS et qu'un moyen de chiffrement (OTR) est disponible, Caliopen proposera par défaut d'envoyer le message via le protocole correspondant.</dd>
  <dt>Q. Sera-t-il possible d'utiliser des logiciels "classiques" tels Thunderbird sur une "infra" CaliOpen ? (rapport avec le classement en labels des mails, déjà utilisés sur Gmail et très difficile à gérer par TB)</dt>
  <dd>Oui, mais seulement en mode dégradé: il est prévu de doter Caliopen d'un service IMAP permettant d'utiliser n'importe quel logiciel compatible pour accéder à son courrier mais, ce protocole étant difficilement utilisable pour autre chose que l'email et ne permettant pas la gestion du "niveau de confidentialité", son utilisation sera nécessairement limitée. Par défaut (même si l'utilisateur reste maitre de ce paramétrage), les contenus les plus confidentiels ne seront pas accessibles.<p>
D'autre part, dans Caliopen, les messages sont classé selon les correspondants plutôt que par sujet (à l'inverse des outils réservés au courrier électronique). Pour permettre une compatibilité descendante avec ce type d'outil, Caliopen recrée "à la volée" les informations nécessaires (en transformant par exemple ses labels en "dossiers" IMAP), ce qui lui permet de fonctionner, mais pas avec son efficacité normale.</dd>
  <dt>Q. Et si non, comment sera prévu l'accès "hors web" à la boite mail ?</dt>
  <dd>Dans un premier temps, et toujours pour des raisons de gestion de la confidentialité, ce ne sera possible qu'en mode dégradé avec un outil tiers, via l'IMAP. Mais nous envisageons dès à présent un futur client "lourd", c'est à dire embarqué sur un terminal plutôt que seulement accessible en ligne. Cet objectif est nécessaire, mais hors de notre portée pour le moment (de tels clients sont plus difficiles à maintenir, du fait de l'hétérogénéité des plates-formes, et nécessitent donc un plus grand effort de développement).</dd>
  <dt>Q. Le classement des messages par « destinataire » au lieu de « par conversation » est-il implanté au cœur du système (et donc non modifiable) ? Ou pourra-t-on repasser à un mode de tri par « Subject » au lieu de « To: »?</dt>
  <dd>Par définition, non, et pour une raison très simple: Caliopen ne traite pas que du courrier électronique. Une conversation peut réunir des e-mails, une part de "chat", et des messages privés échangés via un service tiers (Twitter, Facebook...). Ce type d'échange n'est défini par aucun "sujet". L'information n'existe tout simplement pas.<p>
Ce qui sera possible, en revanche, c'est de trier via les "labels" de Caliopen: tout message, toute conversation, tout contact peut se voir associé avec un ou plusieurs labels, de façon manuelle ou automatique (un message venant de votre entreprise aura par exemple un label "boulot" si le contact associé est lui-même associé à ce label). Dans l'interface principale de Caliopen, le simple fait de cliquer sur un label ouvre un onglet n'affichant que les messages et conversations associées à ce label, mais il est tout aussi facile de créer un filtre plus complexe, associant par exemple pulisuers de ces labels, ou même d'enregistrer ce filtre en tant que "vue" et de faire de cette "vue" la présentation par défaut de tel ou tel terminal.</dd>
  <dt>Q. Pourrais-je garder mon adresse email personnelle associée à mon nom de domaine perso@domaine.fr et garder toutes les redirections qui sont liées ? (perso1@domaine.fr, perso2@domaine.fr etc.)</dt>
  <dd>Pour les conserver, il suffit d'installer Caliopen sur votre domaine (ou de passer par un prestataire proposant ce service): si Caliopen gère votre MX, vous pourrez créer (ou utiliser) toutes les adresses @votredomaine que vous voudrez, non seulement en SMTP mais aussi en XMPP et dans tous les protocoles gérés par Caliopen, de la façon la plus sécurisée possible.</dd>
  <dt>Q. Puis-je utiliser Caliopen en lieu et place d'une installation manuelle Postfix/Dovecot?</dt>
  <dd>Oui, mais beaucoup plus facilement: déployer une infrastructure de messagerie bien configurée (TLS, DNSSEC, DANE, gestion des clés, chiffrement....) n'est pas une mince affaire: Caliopen simplifie toute cette procédure de manière à convaincre un maximum d'entités de disposer de leur propre système plutôt que de préférer les services existants et favoriser la centralisation des données personnelles chez les principaux acteurs.</dd>
  </dl>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
  /*<![CDATA[*/
var FAQ = (function () {

  var faqClass,
    onClass,
    lnkClass,
    DLs,
    i,
    ii,
    iii,
    faqDLs = [],
    dts,
    lnkObj,
    ns,
    lnkTxt;

  function hasClass(o,c){return new RegExp('(\\s|^)'+c+'(\\s|$)').test(o.className);}
  function addClass(o,c){if(!hasClass(o,c)){o.className+=' '+c;}}
  function removeClass(o,c){if(hasClass(o,c)){o.className=o.className.replace(new RegExp('(\\s|^)'+c+'(\\s|$)'),' ').replace(/\s+/g,' ').replace(/^\s|\s$/,'');}}

  function getNextSibling(o) {
    var n = o.nextSibling;
    while (n !== null && n.nodeType !== 1) {
      n = n.nextSibling;
    }
    return n;
  }

  function showHideDDs() {
    var dds = this.siblings,
      i = dds.length,
      p = this.parentNode;
    if (hasClass(p, onClass)) { //remove "on" class
      removeClass(p, onClass);
      while (i--) {
        removeClass(dds[i], onClass);
      }
    } else { // add "on" class
      addClass(p, onClass);
      while (i--) {
        addClass(dds[i], onClass);
      }
    }
    return false;
  }

  function init(cfg) {

    // default over-rides
    faqClass = cfg.faqClass || "faq";
    onClass = cfg.onClass || "on";
    lnkClass = cfg.linkClass || "";


    // create a list from all DL's identified by faqClass
    DLs = document.getElementsByTagName("dl");
    i = DLs.length;
    while (i--) {
      if (hasClass(DLs[i], faqClass)) {
        faqDLs.push(DLs[i]);
      }
    }
    i = faqDLs.length;
    while (i--) {

      dts = faqDLs[i].getElementsByTagName('dt');
      ii = dts.length;
      while (ii--) {

        // create an activating link object
        lnkObj = document.createElement('a');

        // get a list of DT siblings and attach to the link object
        lnkObj.siblings = [];
        ns = getNextSibling(dts[ii]);  // the DT's first sibling

        while (ns !== null) {

          // Only interested if it is a DD
          if (ns.tagName === "DD") {
            lnkObj.siblings.push(ns);
            ns = getNextSibling(ns);
          } else {

            // next sibling is not a DD therefore end loop
            ns = null;
          }
        }

        // Only add link object and associated html changes if there is at least one DD
        iii = lnkObj.siblings.length;
        if (iii) {

          // store original text and then empty.
          lnkTxt = dts[ii].innerHTML;
          dts[ii].innerHTML = "";

          // if a class is required for the activating link then add one
          if (lnkClass !== "") {
            lnkObj.className = lnkClass;
          }

          // add click functionality
          lnkObj.href = "#";
          lnkObj.onclick = showHideDDs;

          // add an i element to display a show/hide icon
          lnkObj.appendChild(document.createElement('i'));

          // insert original text back into the new link
          lnkObj.appendChild(document.createTextNode(lnkTxt));

          // add link to HTML
          dts[ii].appendChild(lnkObj);

          // If a DT already has an "on" class, then add the "on" class to its DD's too.
          if (hasClass(dts[ii], onClass)) {
            while (iii--) {
              addClass(lnkObj.siblings[iii], onClass);
            }
          }
        } else {

          // add a B element to reserve space without displaying an icon
          dts[ii].innerHTML = "<b></b>" + dts[ii].innerHTML;
        }
      }
    }
  }

  return {
    init : init
  };

}());

FAQ.init({});

  </script>
{% endblock %}
