{% extends "page.jinja2" %}

{% block content %}
  <main id="home-try">
    <div class="layout">
      <div>
        <article>
          <h2>{{ _('Le meilleur moyen de discuter avec vos contacts')|safe() }}</h2>

          <img src="{{'caliopen_website:assets/images/home_main_image_1.png'|static_path}}" />
          <img src="{{'caliopen_website:assets/images/home_main_image_2.png'|static_path}}" />
          <img src="{{'caliopen_website:assets/images/home_main_image_3.png'|static_path}}" />
        </article>

        <article>
          <a href="{{'features'|route_path}}" class="button">{{ _('Essayer la démo') }}</a>
        </article>
      </div>
    </div>
  </main>
{% endblock %}

{% block content2 %}
  <main id="home-icons">
    <div class="layout">
      <div class="big-icons">
        <article id="video">
          <h3>{{ _('Origine de Caliopen') }}</h3>
          <a href="{{'about'|route_path}}">{{ _('spotlight') }}</a>
          <p>{{ _('Connaitre l\'idée initiatrice du projet présentée par Laurent Chemla.') }}</p>
        </article>

        <article id="github">
          <h3>{{ _('CaliOpen sur GitHub') }}</h3>
          <a href="https://github.com/CaliOpen/caliopen.web">{{ _('octopus Github') }}</a>
          <p>{{ _('Participer au développement du projet et s\'impliquer.') }}</p>
        </article>

        <article id="details">
          <h3>{{ _('CaliOpen en détails') }}</h3>
          <a href="{{'features'|route_path}}">{{ _('Fonctionnalités') }}</a>
          <p>{{ _('Découvrir toutes les fonctionnalités clés de l\'application et notre vision.') }}</p>
        </article>
      </div>
    </div>
  </main>
{% endblock %}
