<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{request.locale_name}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="{{'caliopen_website:assets/images/favicon.ico'|static_path}}" />
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{{'caliopen_website:assets/css/styles.less'|static_path}}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{'caliopen_website:assets/css/styles.css'|static_path}}" />
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
    {% block content2 %}{% endblock %}
    {% block content3 %}{% endblock %}
    <footer>{% block footer %}{% endblock %}</footer>

    <script src="{{'caliopen_website:assets/js/jquery-1.11.1.min.js'|static_path}}" type="text/javascript"></script>
    <script src="{{'caliopen_website:assets/js/jquery.slides.min.js'|static_path}}" type="text/javascript"></script>
    {% if use_less %}
        <script src="{{'caliopen_website:assets/js/less-1.7.0.min.js'|static_path}}" type="text/javascript"></script>
    {% endif %}

    {% block inlinescript %}{% endblock %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
