{% extends "html.jinja2" %}

{% block header %}
  {{ super() }}
  <a href="https://caliopen.github.io">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" />
  </a>

  <div class="layout">
    <div>
      <div class="title">
        <h1><a href="{{'home'|route_path}}" title="Caliopen">Caliopen</a></h1>
      </div>

      <div class="nav">
        <nav role="navigation">
          <ul>
            <li id="navigation-main-take-a-tour">
              {% if active_nav == 'take_a_tour' %}
                <span class="button">{{ _('Faire un tour') }}</span>
              {% else %}
                <a href="{{'tour'|route_path}}" class="button">{{ _('Faire un tour') }}</a>
              {% endif %}
            </li>
            <li id="navigation-main-about">
              {% if active_nav == 'about' %}
                <span class="button">{{ _('A propos') }}</span>
              {% else %}
                <a href="{{'about'|route_path}}" class="button">{{ _('A propos') }}</a>
              {% endif %}
            </li>
            <li id="navigation-main-features">
              {% if active_nav == 'features' %}
                <span class="button">{{ _('Fonctionnalités') }}</span>
              {% else %}
                <a href="{{'features'|route_path}}" class="button">{{ _('Fonctionnalités') }}</a>
              {% endif %}
            </li>
            <li id="navigation-main-contact-us">
              {% if active_nav == 'contact' %}
                <span class="button">{{ _('Nous contacter') }}</span>
              {% else %}
                <a href="{{'contact'|route_path}}" class="button">{{ _('Nous contacter') }}</a>
              {% endif %}
            </li>
            <li id="navigation-main-faq">
              {% if active_nav == 'faq' %}
                <span class="button">{{ _('FAQ') }}</span>
              {% else %}
                <a href="{{'faq'|route_path}}" class="button">{{ _('FAQ') }}</a>
              {% endif %}
              <li id="navigation-main-blog">
                <a href="https://blog.caliopen.org/" class="button">Blog</a>
            </li>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <div class="layout">
    <div>
      <div class="gandi">
        <p id="support-by-gandi" class="column">{{ _('Un projet soutenu par') }}
        <a href="http://www.gandi.net" title="Gandi.net" class="logo">Gandi.net</a></p>
      </div>

      <div class="sitemap">

        <div>
          <ul class="footer-links column">
            <li id="footer-link-community" class="list-title">{{ _('Communauté') }}</li>
            <li id="footer-link-fork-us"><a href="https://caliopen.github.io">{{ _('Forkez nous sur GitHub') }}</a></li>
          </ul>
        </div>
      </div>

      <div class="social">
        <a href="http://www.twitter.com/caliopen_org" class="twitter">Twitter</a>
      </div>
    </div>

    <div>
      <div class="copyright">
        <p id="copyright">© 2014 CaliOpen</p>
      </div>
    </div>
  </div>
{% endblock %}
