{% extends "page.jinja2" %}

{% block content %}
  <main id="tour-intro">
    <div class="layout">
      <div>
        <article>
          <h2>{{ _('Et votre vie privée devient complétement privée...') }}</h2>
          <ul>
            <li>{{ _('Centraliser toutes vos communications privées') }}</li>
            <li>{{ _('Partager en toute sécurité des informations confidentielles') }}</li>
            <li>{{ _('Profiter d\'une interface intuitive') }}</li>
          </ul>
          <a href="assets/mockup/caliop.html" class="button">{{ _('Voir mockup') }}</a>
          <a href="{{'features'|route_path}}">{{ _('Essayer la démo') }}</a>
        </article>
        <div class="screenshot">
          <img src="{{'caliopen_website:assets/images/tour_main.png'|static_path}}" alt="screenshot"/>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block content2 %}
  <main id="tour-icons">
    <div class="layout">
      <div class="big-icons">
        <article id="centralization">
          <img src="{{'caliopen_website:assets/images/tour_centralize.png'|static_path}}" alt="{{ _('centraliser') }}"/>
          <p>{{ _('Une application pour centraliser toutes vos communications privées, à tout moment, partout')|safe }}</p>
        </article>
        <article id="confidentiality">
          <img src="{{'caliopen_website:assets/images/tour_confidentiality.png'|static_path}}" alt="{{ _('confidentialité') }}"/>
          <p>{{ _('Un outil pour contrôler et vérifier le niveau de confidentialité de vos contacts, messages, fichiers, périphériques ou autre')|safe }}</p>
        </article>
        <article id="ux">
          <img src="{{'caliopen_website:assets/images/tour_ux.png'|static_path}}" alt="{{ _('expérience utilisateur') }}"/>
          <p>{{ _('Une expérience utilisateur moderne pour une meilleure sensation, tout est naturel avec un design bien pensé')|safe }}</p>
        </article>
      </div>
    </div>
  </main>
{% endblock %}

{% block content3 %}
  <main id="tour-steps">
    <div class="layout">
      <article>
        <ul>
          <li id="about">
            <h3>{{ _('A propos') }}</h3>
            <p>{{ _('Comment ce projet est-il né ? Quels en sont les fondements ? En quoi est-ce différent de tout ce que vous utilisez actuellement pour dialoguer avec vos amis ou votre famille. Découvrez la notion de réseau social privé qui change tout, à commencer par le respect de votre vie privée.')|safe }}<a href="{{'about'|route_path}}">{{ _('Lire') }}</a></p>
          </li>
          <li id="features">
            <h3>{{ _('Fonctionnalités') }}</h3>
            <p>{{ _('De nombreuses fonctionnalités avancées sont mises à votre disposition au sein de notre solution. Échangez simplement et sereinement avec votre entourage, et découvrez des possibilités multiples qui sont le fruit d\'une longue réflexion et qui désormais vous faciliterons la vie.')|safe }}<a href="{{'features'|route_path}}">{{ _('Lire') }}</a></p>
          </li>
          <li id="contact">
            <h3>{{ _('Contact') }}</h3>
            <p>{{ _('Vous voulez nous communiquer votre avis ? Envie de prendre part à l\'aventure ? Vous voulez participer à la création d\'un nouvel outil, qui vise à changer radicalement la manière d\'échanger avec ses proches ? Aidez-nous, rejoignez-nous.')|safe }}<a href="{{'contact'|route_path}}">{{ _('Lire') }}</a></p>
          </li>
        </ul>
      </article>
    </div>
  </main>
{% endblock %}
