{% extends "page.jinja2" %}

{% block content %}
  <main id="tour-intro">
    <div class="layout">
      <div>
        <article>
          <h2>{{ _('And your privacy becomes completely private...') }}</h2>
          <ul>
            <li>{{ _('Centralize all of your private communications') }}</li>
            <li>{{ _('Securely share confidential information') }}</li>
            <li>{{ _('Enjoy an intuitive interface') }}</li>
          </ul>
          <button>{{ _('Try the demo') }}</button>
        </article>
        <div class="screenshot">
          <img src="/static/images/tour_main.png" alt="screenshot"/>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block content2 %}
  <main id="tour-icons">
    <div class="layout">
      <div class="big-icons">
        <article id="centralization">
          <img src="/static/images/tour_centralize.png" alt="{{ _('centralize') }}"/>
          <p>{{ _('An application for centralize all your private communications,
  at any time, everywhere') }}</p>
        </article>
        <article id="confidentiality">
          <img src="/static/images/tour_confidentiality.png" alt="{{ _('confidentiality') }}"/>
          <p>{{ _('A tool for control and verify the confidentiality level of your contacts, messages, files, devices and whatever') }}</p>
        </article>
        <article id="ux">
          <img src="/static/images/tour_ux.png" alt="{{ _('user experience') }}"/>
          <p>{{ _('A modern user experience for a better feeling with the application, everything is natural and design thinked') }}</p>
        </article>
      </div>
    </div>
  </main>
{% endblock %}

{% block content3 %}
  <main id="tour-steps">
    <div class="layout">
      <article>
        <ul>
          <li id="about">
            <h3>{{ _('About') }}</h3>
            <p>{{ _('Comment ce projet est-il né ? Quels en sont les fondements ? En quoi est-ce différent de tout ce que vous utilisez actuellement pour dialoguer avec vos amis ou votre famille.') }}<a href="{{'about'|route_url}}">{{ _('Read more') }}</a></p>
          </li>
          <li id="features">
            <h3>{{ _('Features') }}</h3>
            <p>{{ _('De nombreuses fonctionnalités avancées sont mises à votre disposition au sein de notre solution.') }}<a href="{{'features'|route_url}}">{{ _('Read more') }}</a></p>
          </li>
          <li id="contact">
            <h3>{{ _('Contact') }}</h3>
            <p>{{ _('Vous voulez nous communiquer votre avis ? Envie de prendre part à l''aventure ?') }}<a href="{{'contact'|route_url}}">{{ _('Read more') }}</a></p>
          </li>
        </ul>
      </article>
    </div>
  </main>
{% endblock %}
