body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-265px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:320px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:321px;
}
#u2 {
  position:absolute;
  left:2px;
  top:152px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:22px;
  width:260px;
  height:72px;
  font-size:36px;
  color:#E4E4E4;
  line-height:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:73px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:120px;
  width:260px;
  height:40px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u6 {
  position:absolute;
  left:20px;
  top:170px;
  width:260px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u7 {
  position:absolute;
  left:20px;
  top:220px;
  width:260px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:270px;
  width:260px;
  height:12px;
  font-size:11px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:320px;
  width:300px;
  height:210px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:211px;
}
#u12 {
  position:absolute;
  left:2px;
  top:97px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:344px;
  width:260px;
  height:72px;
  font-size:36px;
  color:#E4E4E4;
  line-height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:73px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:440px;
  width:260px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:488px;
  width:260px;
  height:12px;
  font-size:11px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
