body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-165px;
  top:50%;
  margin-top:-200px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:400px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:401px;
}
#u2 {
  position:absolute;
  left:2px;
  top:192px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:22px;
  width:290px;
  height:72px;
  font-size:36px;
  color:#E4E4E4;
  line-height:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:73px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:340px;
  width:290px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:120px;
  width:290px;
  height:40px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u8 {
  position:absolute;
  left:20px;
  top:170px;
  width:290px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u9 {
  position:absolute;
  left:40px;
  top:280px;
  width:270px;
  height:36px;
  font-size:12px;
  line-height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:35px;
  top:220px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:10px;
  width:260px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:10px;
  width:260px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:11px;
  top:0px;
  width:207px;
  height:15px;
  color:#008000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:280px;
  width:260px;
  height:16px;
  font-size:12px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
