{% extends "html.jinja2" %}

{% block header %}
  {{ super() }}
  <a href="https://github.com/CaliOpen/CaliOpen">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" />
  </a>

  <div class="layout">
    <div>
      <div class="title">
        <h1><a href="{{'home'|route_url}}" title="Caliopen">Caliopen</a></h1>
      </div>

      <div class="nav">
        <nav role="navigation">
          <ul>
            <li id="navigation-main-take-a-tour"><a href="{{'tour'|route_url}}" class="button">Take a tour</a></li>
            <li id="navigation-main-about"><a href="{{'about'|route_url}}" class="button">About</a></li>
            <li id="navigation-main-features"><a href="{{'features'|route_url}}" class="button">Features</a></li>
            <li id="navigation-main-contact-us"><a href="{{'contact'|route_url}}" class="button">Contact us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <div class="layout">
    <div>
      <div class="gandi">
        <p id="support-by-gandi" class="column">A project supported by
        <a href="http://www.gandi.net" title="Gandi.net" class="logo">Gandi.net</a></p>
      </div>

      <div class="sitemap">
        <div>
          <ul class="footer-links column">
            <li id="footer-link-product" class="list-title">Product</li>
            <li id="footer-link-origins"><a href="{{'about'|route_url}}">The origins</a></li>
            <li id="footer-link-download"><a href="https://github.com/CaliOpen/CaliOpen/archive/master.zip">Download</a></li>
          </ul>
        </div>

        <div>
          <ul class="footer-links column">
            <li id="footer-link-community" class="list-title">Community</li>
            <li id="footer-link-fork-us"><a href="https://github.com/CaliOpen/CaliOpen">Fork us on GitHub</a></li>
            <li id="footer-link-blog"><a href="/">Visit our blog</a></li>
          </ul>
        </div>
      </div>

      <div class="social">
        <a href="http://www.twitter.com" class="twitter">Twitter</a>
        <a href="http://www.facebook.com" class="facebook">Facebook</a>
      </div>
    </div>

    <div>
      <div class="copyright">
        <p id="copyright">© 2014 CaliOpen</p>
      </div>
    </div>
  </div>
{% endblock %}
