.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.logo {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.big-text {
  line-height: 2em;
  font-size: 1.2em;
}

.illustration(@width, @height, @background, @border-color, @radius:3px) {
  display: block;
  .size(@width, @height);
  background: @background;
  border: 8px solid @border-color;
  .border-radius(@radius);
}
